.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px;
    margin: 0 auto 50px;
    padding-top: 30px;
    background-color: #fff;

    border: 1px solid #e9eef3;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
            23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    font-size: 18px;
    color: #000000;
}

.avatar {
    border: 3px solid #e9eef3;
    border-radius: 50%;

    margin-top: 30px;
    margin-bottom: 30px;
}

.name {
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.tag {
    margin-bottom: 10px;
    color: rgb(143, 143, 143);
}

.location {
    margin-bottom: 30px;
    color: rgb(143, 143, 143);
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    border-top: 1px solid #dddddd;
    background-color: #e9eef3;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 15px;

    border-right: 1px solid #dddddd;
}

.item:last-child {
    border-right: none;
}

.label {
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(143, 143, 143);
}

.quantity {
    font-size: 24px;
    color: #000000;
}